<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Tyler's Node Website</title>
    </head>
    <body>
        {{> header}}
        <p><strong>Tyler Chauhan</strong></p>
        <p>A graduate of both the University of Florida and University of Central Florida.</p>
        <p>Software engineer who enjoys back-end development and learning the latest technologies.</p>

        {{> footer}}
    </body>
</html>
