<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Tyler's Node Website</title>
    </head>
    <body>
        {{> header}}
        <p>My GitHub Projects:</p>
        <p><a target="_blank" href="https://github.com/tjchauhan">tjchauhan</a></p>
        
        {{> footer}}
    </body>
</html>
